<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta >
  <title>Document</title>
  <script src="./shadow.js" defer></script>
  <script src="./simple.js" defer></script>
  <script src="./edit-word.js" defer></script>
  <script src="./z-card.js" defer></script>
  <link rel="stylesheet" href="../css/bulma.min.css">
</head>
<body>
  <section id="shadow">
    <h1><code>composed</code> and <code>composedPath</code> demo</h1>
    <open-shadow text="I have an open shadow root"></open-shadow>
    <closed-shadow text="I have a closed shadow root"></closed-shadow>
    <hr />
  </section>

  <section id="simple">
    <h1>Simple template</h1>
    <template id="my-paragraph">
      <style>
        p {
          color: white;
          background-color: #666;
          padding: 5px;
        }
      </style>
      <p><slot name="my-text">My default text</slot></p>
    </template>

    <my-paragraph>
      <span slot="my-text">Let's have some different text!</span>
    </my-paragraph>

    <my-paragraph>
      <ul slot="my-text">
        <li>Let's have some different text!</li>
        <li>In a list!</li>
      </ul>
    </my-paragraph>
    <hr/>
  </section>

  <section id="edit-word">
    <h1><code>edit-word</code> demo</h1>
    <template id="person-template">
      <div>
        <h2>Personal ID Card</h2>
        <slot name="person-name">NAME MISSING</slot>
        <ul>
          <li><slot name="person-age">AGE MISSING</slot></li>
          <li><slot name="person-occupation">OCCUPATION MISSING</slot></li>
        </ul>
      </div>
    </template>
    <person-details>
      <p slot="person-name"><edit-word>Morgan</edit-word> Stanley</p>
      <span slot="person-age">36</span>
      <span slot="person-occupation">Accountant</span>
    </person-details>
    <p>My name is <edit-word>Chris</edit-word>, the man said.</p>
    <hr/>
  </section>

  <section id="z-card">
    <z-card></z-card>
    <hr/>
    <div class="card" style="width:10em;">
      <header class="card-header">Component</header>
      <div class="card-content">
        <div class="content">
          <p>内容</p>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
      </footer>
    </div>
  </section>
</body>
</html>