<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Blog列表</title>
  <link rel="shortcut icon" href="/static/image/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/theme-chalk/index.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <el-card>
      <el-page-header @back="goback()" content="页面"></el-page-header>
    </el-card>

    <el-card class="mt-20">
      <span slot="header">
        <el-autocomplete v-model="state" size="small" :fetch-suggestions="querySearchAsync" placeholder="请输入页面名"
          @select="handleSelect"></el-autocomplete>
      </span>
      <el-timeline>
        <el-timeline-item v-for="(page, index) in pages" :key="index" :timestamp="page.time" placement="top">
          <el-link @click="goTo(page.page)">{{page.content}}</el-link>
        </el-timeline-item>
      </el-timeline>
    </el-card>

    <el-backtop target=""></el-backtop>
  </div>


  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/index.js"></script>
  <script>
    const pages = [
      { time: '2019/8/7', page: '2019/20190807SearchPage.html', content: '搜索页源码' },
      { time: '2020/7/26', page: '2019/20190726TypeScript.html', content: 'TypeScript学习笔记' },
      { time: '2020/7/26', page: '2019/20190726Less.html', content: 'less学习笔记笔记' },
      { time: '2020/7/1', page: '2019/20190701vue_template.html', content: 'vue优化学习笔记' },
      { time: '2020/6/27', page: '2019/20190627.html', content: '一个简单的网页' }
    ]
    new Vue({
      el: '#app',
      data() {
        return {
          pages: pages,
          state: ''
        }
      },
      methods: {
        goTo(page) {
          window.location.href = '/blog/' + page;
        },
        goback() {
          window.history.back()
        },
        querySearchAsync (queryString, cb) {
          const restaurants = this.pages.map(function(item){ return {value: item.content, address: item.page} });
          var results = queryString ? restaurants.filter(function(item){ return item.value.indexOf(queryString) > -1 }) : restaurants;
          console.log(results);
          clearTimeout(this.timeout);
          this.timeout = setTimeout(function () {
            cb(results);
          }, 200);
        },
        handleSelect(item) {
          this.goTo(item.address)
        }
      },
    })
  </script>
</body>

</html>