<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/theme-chalk/index.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="/static/image/logo.svg" type="image/x-icon">
  <title>页面设置</title>
  <style>
    body {
      margin: 30px;
    }

    .mt-10 {
      margin-top: 10px;
    }

    .mt-20 {
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-card>
      <el-page-header @back="goback()" content="页面"></el-page-header>
    </el-card>

    <el-card class="mt-20">
      <span slot="header">
        <el-autocomplete v-model="state" size="small" :fetch-suggestions="querySearchAsync" placeholder="请输入页面名"
          @select="handleSelect"></el-autocomplete>
      </span>
      <el-timeline>
        <el-timeline-item v-for="(page, index) in pages" :key="index" :timestamp="page.time" placement="top">
          <el-link @click="goTo(page.page)">{{page.content}}</el-link>
        </el-timeline-item>
      </el-timeline>
    </el-card>

    <el-backtop target=""></el-backtop>
  </div>


  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.9/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/index.js"></script>
  <script>
    const pages = [
      { time: '2020/4/3', page: '2020/20200403.html', content: '打印表格' },
      { time: '2020/4/2', page: '2020/20200402.html', content: '响应式布局' },
      { time: '2020/1/25', page: '2020/20200125.html', content: '新年祝福生成' },
      { time: '2020/1/09', page: '2020/20200109.html', content: '图片上传' },
      { time: '2020/1/07', page: '2020/20200107.html', content: '一级五行石计算' },
      { time: '2019/6/26', page: '2019/20190626.html', content: '自定义监控' },
      { time: '2019/6/24', page: '2019/20190624zhijian.html', content: '指尖江湖物产查询' },
      { time: '2019/8/7', page: '2019/20190807/', content: '搜索动效页面' }
    ]
    new Vue({
      el: '#app',
      data() {
        return {
          pages: pages,
          state: ''
        }
      },
      methods: {
        goTo(page) {
          window.location.href = '/pages/' + page;
        },
        goback() {
          window.history.back()
        },
        querySearchAsync (queryString, cb) {
          const restaurants = this.pages.map(function(item){ return {value: item.content, address: item.page} });
          var results = queryString ? restaurants.filter(function(item){ return item.value.indexOf(queryString) > -1 }) : restaurants;
          console.log(results);
          clearTimeout(this.timeout);
          this.timeout = setTimeout(function () {
            cb(results);
          }, 200);
        },
        handleSelect(item) {
          this.goTo(item.address)
        }
      },
    })
  </script>
</body>

</html>
